.magtool {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $mt-height;
    color: #FFF;
    background: #333;
    box-shadow: 0 2px 5px 0 rgba(#000, .16), 0 2px 10px 0 rgba(#000, .12);
    transition: opacity .3s;
    z-index: 9999999999;
    
    &.hide {
        opacity: 0;
    }
}
