#magtoolComponents {
    font-family: 'Lato', sans-serif;
    
    :not(.fa) {
        font-family: 'Lato', sans-serif;
    }
}

.mtOverride {
    @import 'nap_overrides';
}

// Block annoying Live Chat pop-up
#chat-invite, #chat-window, #LPbutton {
    display: none;
}

@include component(magtool) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $mt-height;
    color: #FFF;
    background: #333;
    transition: opacity .3s;
    z-index: 9999990;
    
    @include option(hide) {
        opacity: 0;
    }
    
    * {
        outline: none !important;
    }
}
