{% if page_id == '' %}
    <header class="page-header">
        <main>
            <h1 class="project-name">
                <a href="">{{ site.project.name }}</a>
            </h1>
            <h2 class="project-tagline">{{ site.project.tagline }}</h2>
            
            <section class="buttons">
                <a href="{{ site.project.github }}" class="btn">View on GitHub</a>
            </section>
            
            <section class="meta">
                <div class="meta/container">
                    <a href="{{ site.project.github }}/releases" class="meta/badge" target="_blank">
                        <img src="//img.shields.io/github/release/{{ site.project.package }}.svg" alt="Latest Stable Version">
                    </a>
                    <a href="https://raw.githubusercontent.com/{{ site.project.package }}/master/LICENSE" class="meta/badge" target="_blank">
                        <img src="//img.shields.io/github/license/{{ site.project.package }}.svg" alt="License">
                    </a>
                    <a href="{{ site.project.github }}/issues" class="meta/badge" target="_blank">
                        <img src="//img.shields.io/github/issues-raw/{{ site.project.package }}.svg" alt="Issues">
                    </a>
                </div>
            </section>
        </main>
    </header>
{% endif %}
