{% for parent in site.navigation %}
    {% if page_url contains parent.url and parent.navigation %}
        {% for sub_parent in parent.navigation %}
            {% if page_url contains sub_parent.url and sub_parent.navigation %}
                <aside class="sidebar">
                    <nav>
                        <ul class="sidebar/nav">
                            {% for item in sub_parent.navigation %}
                                {% if item.type == 'category' %}
                                    <li class="sidebar/nav/category">{{ item.name }}</li>
                                {% elsif item.type == 'page' %}
                                    {% capture full_link %}{{ parent.url }}/{{ item.url }}{% endcapture %}
                                    {% if page_url contains full_link %}
                                        <li class="sidebar/nav/item --active">{{ item.name }}</li>
                                    {% else %}
                                        <li class="sidebar/nav/item">
                                            <a href="{{ parent.url }}/{{ sub_parent.url }}/{{ item.url }}">{{ item.name }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </aside>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
