@charset "utf-8";

@import "fonts", "icons/font-awesome";

$spacing-unit: 30px;

$pastelColor: #C9D3EA;
$lightAccentColor: #4b6cb7;
$darkAccentColor: #182848;

$csstyle-part-symbol: '\\/';
$csstyle-root-id: 'magtool';

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "github-light",
        "base",
        "syntax-highlighting"
;
