$uiResizableGrabSize: 32px;

.ui-resizable-handle {
    @include absolute((top: -$uiPadding, bottom: -$uiPadding));
    width: $uiResizableGrabSize;
    opacity: 0;
    transition: opacity .3s;
    
    &:hover {
        opacity: 1;
    }
    
    &:after {
        content: '';
        @include absolute((top: 0, left: 50%));
        width: 1px;
        height: 100%;
        background: rgba(#B975FF, 1);
        box-shadow: 0 0 8px rgba(#B975FF, .5);
    }
    
    &.ui-resizable-e {
        right: - ($uiResizableGrabSize / 2 + $uiPadding);
        cursor: e-resize;
        
        &:after {
            margin-left: -1px;
        }
    }
    
    &.ui-resizable-w {
        left: - ($uiResizableGrabSize / 2 + $uiPadding);
        cursor: w-resize;
    }
}

.ui-resizable-disabled {
    .ui-resizable-handle {
        display: none;
    }
}
