.ui-selectable-helper {
    position: absolute;
    border: 1px dotted #000;
    z-index: 100;
}

.ui-selectee {
    &:after {
        content: '';
        @include absolute((top: -$uiPadding, right: -$uiPadding, bottom: -$uiPadding, left: -$uiPadding));
        border: 1px solid rgba($uiColor, 0);
        pointer-events: none;
        transition: box-shadow .3s, background .3s, border-color .3s;
    }
    
    &:hover {
        &:after {
            border-color: rgba($uiColor, .5);
            box-shadow: inset 0 0 8px rgba($uiColor, .3), 0 0 8px rgba($uiColor, .3);
        }
    }
}

.ui-selecting {
    &:after {
        border-color: rgba($uiColor, .5);
        box-shadow: inset 0 0 8px rgba($uiColor, .3), 0 0 8px rgba($uiColor, .3);
    }
}

.ui-selected {
    &:after, &:hover:after {
        border-color: $uiColor;
        box-shadow: inset 0 0 8px rgba($uiColor, .6), 0 0 8px rgba($uiColor, .6);
    }
}
