.ui-selectable-helper {
    position: absolute;
    border: 1px dotted #000;
    z-index: 100;
}

.ui-selectee {
    @extend %ui-interactable;
}

.ui-selectable:not(.ui-selectable-disabled) {
    .ui-selectee {
        &.ui-selecting, &:hover {
            @extend %ui-interacting;
        }
        
        &.ui-selected {
            @extend %ui-interacted;
            
            &:hover{
                @extend %ui-interacted;
            }
        }
    }
}
