@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'fonts';

$app: 'magtoolComponents';

$csstyle-part-symbol: '/';
$csstyle-root-id: $app;

$mt-height: 162px;

@import 'core/core';
@import '../../bower_components/medium-editor/dist/css/medium-editor';
@import '../../bower_components/medium-editor/dist/css/themes/default';

.magtool {
    @import 'core/normalize';
	@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
    
    @import 'components';
}

@import 'ui/ui';
@import 'tweaks';
@import 'layouts';

#html {
    display: none;
}
